<header>
    <nav class="navegador">
      <div class="header_left">
        <a href="#home" class="logo">
          <img src="assets/images/breed_7.jpg" alt="loandig...">
        </a>
      </div>

      <div class="header_center">
        <ul class="links">
          <li><a href="#home" class="activado">Home</a></li>
          <li>
            <a href="#Servicio">Servicios</a>
            <ul class="links_service">
              <li><a href="#mascota">mascotas</a></li>
              <li><a href="#especie">especies</a></li>
              <li><a href="#raza">razas</a></li>
              <li><a href="#h_clinico">h. clinicos</a></li>
            </ul>
          </li>
          <li>
            <a href="#veterinario">Veterinario</a>

            <ul class="links_service">
              <li><a href="#dr1">dr. Santo</a></li>
              <li><a href="#dr2">dr. campero</a></li>
              <li><a href="#dr3">dr. zubelza</a></li>
              <li><a href="#dr4">dr. kantuta</a></li>
            </ul>
          </li>
          <li><a href="#cliente">Cliente</a></li>
        </ul>
      </div>

      <div class="header_height">
        <a (click)="logOut()" >Log-Out</a>
      </div>
      <!-- <div class="menu_toogle">
        <span></span>
        <span></span>
        <span></span>
      </div> -->
    </nav>
  </header>